.userslist> div.panel-body{
  background: #F5F5F5;
  height: calc(100% - 40px);
  border: 1px solid #ddd;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.userslist{
  height: 100%;
  margin: 0px;
}

.nick-form{
  display: flex;
  align-items: stretch;
}

.nickname{
  cursor: pointer;
}
.nickname>span>span{
  width: 0;
  opacity: 0;
  transition: opacity ease 0.8s;
}

.nickname:hover>span>span{
  width: auto;
  opacity: 1;
}

.userslist-body{
  overflow-x: hidden;
}

@media (max-width: 768px){
  .userslist> div.panel-body{
    border-radius: 0;
    border-bottom: 0px;
  }
  .userslist> div.panel-body{
    height: calc(100% - 82px);
  }
}
